<%= form_tag(home_create_order_path) do %>

    <div class="field">
        <%= label_tag :customer_name %>
        <%= text_field_tag "customer_name", nil, :required => true %>
    </div>

    <div class="field">
        <%= label_tag :address %>
        <%= text_field_tag "address", nil, :required => true %>
    </div>

    <div class="field">
        <%= label_tag :postal_code %>
        <%= text_field_tag "postal_code", nil, :required => true %>
    </div>
    
    <div class="actions">
        <%= submit_tag "Submit", class: 'btn btn-primary' %>
    </div>

<% end %>