<p id="notice"><%= notice %></p>

<h1>Products</h1>

<row>
    <span class="span ml"><%= link_to 'admin', users_products_path %></span>
</row>

<row class="row-mt-2">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Product name</th>
          <th>Product detail</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.product_name %></td>
            <td><%= product.product_detail %></td>
            <td><%= product.price %></td>
            <td><%= product.quantity %></td>
            <td><%= product.status.presence || 'NA' %></td>
            <td>
              <% if product.primary_image.attached? %>
                <%= image_tag(product.primary_image, width:32) %>
              <% else %>
                <%= 'None' %>
              <%end%>
            </td>
            <td><span style="margin-right: 5%"><%= link_to '<i class="fas fa-eye"></i>'.html_safe, home_path(product) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</row>
<%= paginate @products %>